
*{
  font-size:x-large}

body {

    margin: 0;
    background-color: #232534;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive, 'Permanent Marker', sans-serif;
    font-style: normal;
  }
  
  code {
    font-family: 'Caveat', cursive;
  }
  